* {
  box-sizing: border-box;
}

body,html {
  padding: 0;
  background-color: black;
  overflow: scroll;
  color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

.nav{
  margin-top: 37px;
}

ul {
  list-style-type: none;
}

li{
  float: right;
  padding-right: 65px;
}

li a {
  font-size: 12px;
  font-weight: 300;
  display: block;
  color: white;
  text-decoration: none;
  opacity: .8;
}

li a:hover {
  opacity: 1;
}

.mainContainer {
  margin: 0;
  padding: 0;
}

.infoContainer {
  margin-left: 140px;
  margin-top: 180px;
}

.title {
  font-size: 50px;
}

.info {
  margin-left: 80px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.38em;
  line-height: 28px;
  opacity: .8;
}

.scoreContainer{
  margin-top: 200px;
  margin-left: 0;
}

.mugshot img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.score p{
  text-align: center;
  font-size: 80px;
  margin-top: 45px;
  letter-spacing: 0.15em;
  font-weight: 400;
}

.creditHistory {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.38em;
  line-height: 28px;
  opacity: .8;
}

.timeline {
  margin-top: 150px;
  margin-left: 200px;
}

.timeline h1 {
  font-size:2.5em;
  /* text-align: center; */
  margin-left: 375px;
  margin-bottom: 60px;
  padding:0;
}
.container {
	/* background:#222; */
	width:100%;
	margin:0 auto;
	overflow:auto;
	padding:2%;
}
.right-content, .left-content {
	float:left;
	display:block;
	width:40%;
	padding:1% 2%;
}
.left-content {
	border-right:5px dotted #666;
	text-align:right;
}
.left-content p {
  font-weight: 300;
  opacity: .8;
	margin:150px 0 0;
}
.right-content p {
  font-weight: 300;
  opacity: .8;
	margin:80px 0 150px;
}
.container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}

.onlineHistory {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}

.onlineTitle p{
  text-align: right;
  margin-right: 180px;
  font-size: 20px;
  font-weight: 600;
  font-size: 30px;
}

.onlineText p{
  text-align: right;
  margin-right: 180px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 28px;
  opacity: .8;
}

.video {
  display: fixed;
  margin-top: 150px;
  margin-left: 250px;
  margin-bottom: 80px;
}

.mySite {
  margin-top: 120px;
  margin-bottom: 60px;
  padding-left: 420px;
}

.mySite a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  opacity: .8;
  font-weight: 300;
}

.mySite a:hover {
  opacity: 1;
}

.footer {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 0;
  width: 100%;
  color: white;
  justify-content: center;
}
